.empty-cart{
    height: 91vh;
    /* height: 594px; */
    
}




@media screen  and (max-width:335px) {

    .bt-total{
        flex-direction: column !important;
        justify-content: space-between !important;
    }

    .tx-total{
        font-size: 20px !important;
    }
}


@media screen  and (max-width:195px) {

    .tx-total{
        font-size: 12px !important;
    }

}





.cart-total-lines{
    background-color: brown;
}

@media screen  and (max-width:386px) {
    .cart-total-lines{
        flex-direction: column !important;
        background-color: transparent ;
    }
}


@media screen  and (max-width:245px) {
 .cart-total{
    font-size: 15px !important;
 }

 .bt-cart{
    font-size: 10px !important;
 }
}


@media screen  and (max-width:193px) {
    .cart-total{
       font-size: 11px !important;
    }
}

@media screen  and (max-width:156px) {
    .pay-bt{
       font-size: 14px !important;
    }
}


@media screen  and (max-width:151px) {
    .cart-total{
       font-size: 9px !important;
    }
}







@media screen  and (max-width:493px) {

    .cart-empty-line2{
        font-size: 20px;
    }

}

@media screen  and (max-width:452px) {

    .cart-empty-line1 , .cart-empty-line2{
        font-size: 15px;
    }
}


@media screen  and (max-width:343px) {

    .cart-empty-line1 , .cart-empty-line2{
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen  and (max-width:287px) {

    .cart-empty-line1 , .cart-empty-line2{
        font-size: 10px;
        font-weight: bolder;

    }
}

@media screen  and (max-width:242px) {

     .cart-empty-line2{
        font-size: 9px;
        font-weight: bolder;

    }
}

@media screen  and (max-width:219px) {

    .cart-empty-line2{
       font-size: 7px;
   }
}



@media screen  and (max-width:174px) {
    
    .cart-empty-line2{
        font-size: 5px;
    }
    
    .cart-empty-line1 {
        font-size: 7px;
        font-weight: bolder;


    } 
}